body {
  background: white;
}

/* CSS DEL HEADER */

.navbar-brand{
  font-size: 25px;
}
#logo1{
  width: 300px;
  height: 100px;
}
#navbarCollapse{
  width: 300px;
}

.btn-outline-success{
  width: 72px;
}
#vaciar-carrito, #procesar-pedido{
  width: 50%;
  margin-left: 70px;
}

#carrito{
  overflow:scroll;
  height: 150px;
  width: 400px;
  
}
.table{
  width: 380px;
  
}

#img-carrito{
  border-radius: 50%;
}
.form-control {
  width: 500px;
  margin-left: 50px;
}

#card:hover{
  box-shadow: 1px 0px 5px 3px rgba(103, 128, 159, 1);
  cursor: pointer;
  border-radius: 12px;

}

.fa-times-circle{
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

/* CSS MODE NOCTURNO  */

.dark{
  float: right;
}
body.dark-mode {
  background-color: black;
  color: white;
}
  a {
    color: black;
  }
  button {
    background-color: white;
    color: black;
  }

body.light-mode {
  background-color: white;
  color: black;
}
  a {
    color: black;
  }
  button {
    background-color: black;
    color: white;
  }



/* --------------------------------------------------------------- */
/* CSS DEL MAIN */

.title-lista-productos{
  width: 100px;
}

.mydiv {
  margin-top: 50px;
  margin-bottom: 50px
}

.padding-0 {
  padding-right: 5px;
  padding-left: 5px
}

.img-style {
  margin-left: -11px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  max-width: 104% !important
}

.m-t-20 {
  margin-top: 20px
}

.bbb_background {
  background-color: #E0E0E0 !important
}

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute
}

.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9
}

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 8px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  color: #fff;
  font: 100 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-transform: uppercase;
  text-align: center
}

.ribbon-top-right {
  top: -10px;
  right: -10px
}

.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent
}

.ribbon-top-right::before {
  top: 0;
  left: 17px
}

.ribbon-top-right::after {
  bottom: 17px;
  right: 0
}

.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg)
}

div {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.bbb_deals_featured {
  width: 100%
}

.bbb_deals {
  width: 100%;
  background: white;
  margin-right: 7%;
  padding-top: 80px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 34px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.titulo_oferta {
  position: absolute;
  top: 27px;
  left: 40px;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  
}

.bbb_deals_slider_container {
  width: 100%;
  
}

.bbb_deals_item {
  width: 100% !important
}

.imagen {
  width: 100%;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
}

.imagen img {
  width: 100%
}

.bbb_deals_content {
  margin-top: 33px
}

.categoria a {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5)
}

.categoria {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6)
}

.producto {
  font-size: 24px;
  font-weight: 400;
  color: #000000
}

.precio {
  font-size: 24px;
  font-weight: 500;
  color: #df3b3b
}
#btn-comprar{
  display: block;
}


/* Media queries */

@media only screen and (max-width: 991px) {
  .bbb_deals {
      width: 100%;
      margin-right: 0px
  }
}

@media  only screen and (max-width: 950px) {
   .form-control{
    display: none !important;
  }
  .btn-outline-success{
    display: none !important;
  }
  .navbar-toggler{
    justify-content: first baseline;
  }
  .carrusel{
    display: none;
  }
  

}



@media only screen and (max-width: 575px) {
  .bbb_deals {
      padding-left: 15px;
      padding-right: 15px
  }

  .titulo_oferta {
      left: 15px;
      font-size: 16px
  }

  .bbb_deals_slider_nav_container {
      right: 5px
  }

  .producto,
  .precio {
      font-size: 20px
  }
}