body{
  background-color: #212529!important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 22px;
}

#logo1{
  width: 400px;
}
.table{
  background: #d1e9ea;
  border-radius: 5px;
}

#cliente, #correo {
  color: white;
  font-size: 22px;
}

#cargando{
  display: none;
  
}

@media only screen and (min-width: 350px) {
  
  .btn-info{
    width: 100%;
    
  }
  .btn-success{
    width: 100%;
   
  }
 
}